* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px; // 1rem = 20px
}

body {
  font-family: $default-font;
  background: linear-gradient(
    to right, 
    $light 0%, 
    $light 50%, 
    $dark 50%, 
    $dark 100%
  );
}

a {
  text-decoration: none;
  cursor: pointer;
}

.router-link-exact-active {
  color: $primary!important;
}

.card, .card-img-top {
  border-radius: 0!important;
}