* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px; // 1rem = 20px
}

body {
  font-family: $default-font;
  background-color: $light;
  background-image: url('../../img/bg.jpg');
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.router-link-exact-active {
  color: $primary!important;
}

.card, .card-img-top {
  border-radius: 0!important;
}