* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px; // 1rem = 20px
}

body {
  font-family: $default-font;
  background-color: $light;
}

a {
  text-decoration: none;
}

.router-link-exact-active, .router-link-active {
  color: $primary!important;
}