.title {
  font-family: $accent-font;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: $primary;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-img {
    width: 25rem;
    position: absolute;
    z-index: -1;
    transform: translate(-2.8rem, -3.8rem);
}